@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,900;1,700&display=swap");

:root {
  --g-color-black: #111;
  --g-color-white: #fff;
  --g-color-danger: #f00;
  --g-color-primary: #3183ff;
  --g-color-primary-hover: #2a6ccf;

  --g-color-electric: #fbd100;
  --g-color-fire: #ff9741;
  --g-color-ground: #e87236;
  --g-color-grass: #38bf4b;
  --g-color-bug: #83c300;
  --g-color-ice: #4cd1c0;
  --g-color-dragon: #006fc9;
  --g-color-water: #3692dc;
  --g-color-flying: #89aae3;
  --g-color-ghost: #4c6ab2;
  --g-color-poison: #b567ce;
  --g-color-fairy: #fb89eb;
  --g-color-normal: #919aa2;
  --g-color-dark: #5b5466;
  --g-color-rock: #c8b686;
  --g-color-steel: #5a8ea2;
  --g-color-fighting: #e0306a;
  --g-color-psychic: #ff6675;

  --g-type-white: #f0f0f0;
  --g-type-white-hover: #8f8f8f;
  --g-type-gray: #a0a0a0;
  --g-type-gray-hover: #535353;
  --g-type-yellow: #f0d048;
  --g-type-yellow-hover: #b67600;
  --g-type-brown: #b07030;
  --g-type-brown-hover: #643608;
  --g-type-green: #40b868;
  --g-type-green-hover: #0f702f;
  --g-type-blue: #3088f0;
  --g-type-blue-hover: #074186;
  --g-type-purple: #a868c0;
  --g-type-purple-hover: #5c1b74;
  --g-type-pink: #f890c8;
  --g-type-pink-hover: #a7306f;
  --g-type-red: #f05868;
  --g-type-red-hover: #a71c2a;
  --g-type-black: #2c2c2c;
  --g-type-black-hover: #111;

  --g-colorGray100: #cecece;
  --g-colorGray150: #5a6266;
  --g-colorGray200: #454b4e;
  --g-colorGray250: #353a3c;
  --g-colorGray300: #242729;

  --g-colorTransparentBlack50: rgba(0, 0, 0, 0.5);
  --g-colorTransparentWhite18: rgba(255, 255, 255, 0.18);
  --g-colorTransparentWhite40: rgba(255, 255, 255, 0.4);
  --g-colorTransparentBlue30: rgba(31, 38, 135, 0.3);
  --g-colorTransparentGray50: rgba(180, 180, 180, 0.5);

  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  color: var(--g-color-black);
  background-color: var(--g-colorGray300);
  font-family: var(--font-family);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--g-colorGray150);
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
}
