@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,900;1,700&display=swap');

:root {
  --g-color-black: #111;
  --g-color-white: #fff;
  --g-color-danger: #f00;
  --g-color-primary: #7db2e7;
  --g-color-primary-hover: #2b72b96b;
  --g-color-turquesa: #646cffaa;

  --g-colorGray100: #cecece;
  --g-colorGray150: #787878;
  --g-colorGray200: #5c5c5c;
  --g-colorGray250: #474747;
  --g-colorGray300: #303030;

  --g-colorTransparentBlack50: rgba(0, 0, 0, 0.5);

  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--g-color-black);
  background-color: var(--g-colorGray300);
  font-family: var(--font-family);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--g-colorGray150);
  border-radius: 20px;
}

* {
  scrollbar-width: thin;
}
